[[source]]
url = "https://pypi.org/simple"
verifu_ssl = true
name = "pypi"

[packages]
flask = "*"
flask_sqlalchemy = "*"
flask_marshmallow = "*"
flask_cors = "*"

[dev-packages]

[requires]
python_version = "3.7"